.row .text-wrapper {
  width: 100%;
}

.row .text-wrapper .title {
  text-align: center;
}

.row .text-wrapper .sub-title {
  text-align: center;
}

.row.banner {
  height: 400px;
}

.row.job .inner-wrapper {
  padding: 50px 0; 
  border-bottom: 1px solid #ccc;
}

.row.job:last-of-type .inner-wrapper {
  border-bottom: none;
}

.row.job .header {
  align-items: start;
  flex: 1 1 40%;
}

.row.job .content {
  flex: 1 1 60%;
}

.row.job .content .title {
  font-size: 18px;
}

.row.job img {
  margin: 5px 10px;
}

.row.job .title {
  color: var(--blue);
  font-family: 'Oswald';
  font-size: 22px;
  text-align: left;
  max-width: 50%;
  margin: 5px 10px;
}

.row.job .sub-title {
  color: var(--grey);
  line-height: 27px;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 5px 10px;
}

.row.job .job-apply {
  display: flex;
  justify-content: center;
}

.row.job .job-apply input[type="button"] {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background: var(--blue);
  font-family: 'Roboto';
  border: 1px solid var(--blue);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition-timing-function: ease-in-out;
}

.row.job .job-apply input[type="button"]:hover {
  color:var(--blue);
  border: 1px solid var(--blue);
  background: #fff;
}