@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
:root {
    --blue: #18385c;
    --blue-opaque: rgba(64, 64, 64, 0.85);
    --red: #943837;
    --oldred: #ff3d3d;
    --grey: #5a5a5a;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  padding-left: 20px;
  margin: 5px 0px 0px 0px;
  color: var(--grey);
  font-weight: 600;
  display: inline-block;
}

li {
  line-height: 27px;
  font-size: 13px;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  color: var(--blue);
  font-family: 'Oswald';
  text-align: left;
  margin: 5px 10px;
}

h2 {
  font-size: 26px;
  color: var(--blue);
  font-family: 'Oswald';
  text-align: left;
  margin: 5px 10px;
}

h3 {
  font-size: 22px;
  color: var(--blue);
  font-family: 'Oswald';
  text-align: left;
  margin: 5px 10px;
}

h4 {
  font-size: 20px;
  color: var(--blue);
  font-family: 'Oswald';
  text-align: left;
  margin: 5px 10px;
}

p {
  color: var(--grey);
  line-height: 27px;
  font-size: 14px;
  font-family: 'Roboto';
  margin: 5px 10px;
  white-space: pre-wrap;
}